body{
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h2{
    display: flex;
    color: blue;
    justify-content: center;
}

.z{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: green;
}