body {
    margin: 1em 1%;
    display: flex;
    justify-content: center;
}

.container {
    flex-direction: column;
    display: flex;
    width: 450px;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
}



.h1 {
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 600;
    justify-content: center;
    display: flex;

}

.loginPage {
    display: flex;
    justify-content: center;
    margin-top: 0.65em;
    font-size: 2.25em;
}

.email {
    display: flex;
    flex-direction: column;
}
.emailInput{
    padding: 1em;
    width:93.5%;;
}

#inputEmail {
    text-transform: uppercase;
}

.password {
    display: flex;
    flex-direction:column;
    margin-top: 1.5em;
}

.passwordInput{
    display: flex;
    padding: 1em;
    width: 93.5%;
}



.welcome{
    font-size: 20px;
}

.hehe{
    display: flex;
    justify-content: center;
}

.hehe a{
    text-decoration: underline;
    color: black;
}

.hehe a:hover{
    font-size: 1.3em;
    cursor:pointer;
}

.formy{
    text-transform: uppercase;
}

.passwordForget{
    display: flex;
    justify-content: center;
}



.submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.submitButton button{
    font-weight: bolder;
    text-transform: uppercase;
    scale: 150%;
    border-color: black;
    margin-top: 1.50em;
    width: 55%;
}