body{
margin:1em;
display: flex;
justify-content: center;
}

.form{
    border: 3px solid black;
    width: 450px;
    display: flex;
    flex-direction: column;
}
.burchImage{
    display: flex;
    justify-content: center;
}
.burchImage img{
   height: 180px;
   width: 100%;
}

.h2{
    display: flex;
    justify-content:  center;
}

.h1{
    display: flex;
    align-items: start;
}

.firstlastname{
    display: flex;
    justify-content: space-between;
}

.firstName{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lastName{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.registration{
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    width: 400px;
}

.username{
    margin-top: 0.37em;
    display: flex;
    justify-content: space-between;
}

.password{
    margin-top: 0.37em;
    display: flex;
    justify-content: space-between;
}



.dateofbirth{
    margin-top: 0.373737em;
    display:flex;
    justify-content: space-between;
}

.placeOfBirth{
    margin-top: 0.72em;
    display: flex;
    justify-content: space-between;
}

.gender{
    margin-top: 0.37em;
    display: flex;
    justify-content: space-between;

}

.genderText{
    display: flex;
    align-items: center;

}

.genderField{

    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: flex-start;
}

.male{
    display: flex;
    flex-direction: row-reverse;

    justify-content: flex-start;

}

.female{
    justify-content: flex-start;
    display: flex;
    flex-direction: row-reverse;

}
.other{
    display: flex;
    flex-direction: row-reverse;

}

.email{
    margin-top: 0.37em;
    display: flex;
    justify-content: space-between;
}

.phone{
    margin-top: 0.37em;
    display: flex;
    justify-content: space-between;
}

.hair{
    margin-top: 0.37em;
    display: flex;
    justify-content: space-between;
}

.notes{
    margin-top: 0.37em;
}
.notesForm{
    display: flex;
    justify-content: center;
}

.recieveNotifications{
    margin-top: 1.37em;
}

.submitButton{
    display: flex;
    justify-content: flex-end;
}