body {
    margin: 1em 1%;
    display:flex;
    justify-content: center;
}



.container {
    flex-direction: column;
    display: flex;
    width: 450px;
}




img {
    scale: 50%;
    display: flex;
    justify-content: center;
}

.h1 {
    margin-top: -5em;
    text-transform: uppercase;
    margin-left: 6em;
    font-weight: 600;

    display: block-size;
}

.loginPage {
    display: flex;
    justify-content: center;
    margin-top: 0.65em;
    font-size: 2.25em;
}

.email {
    margin-top: -0.5;
    padding: 1em;
    width: 100%;
}

#inputEmail {
    text-transform: uppercase;
}

.password {
    margin-top: -0.5;
    padding: 1em;
    width: 100%;
}



.welcome{
    font-size: 20px;
}

.hehe{
    display: flex;
    justify-content: center;
}

.hehe a{
    text-decoration: underline;
    color: black;
}

.hehe a:hover{
    font-size: 1.3em;
    cursor:pointer;
}

.formy{
    text-transform: uppercase;
}

.passwordForget{
    display: flex;
    justify-content: center;
}



.submitButton{
    display: flex;
    justify-content: center;
}

.submitButton button{
    font-weight: bolder;
    text-transform: uppercase;
    scale: 150%;
    border-color: black;
    margin-top: 1.50em;
    width: 55%;
}