body{
    margin-left: 4em;
    margin-right: 4em;
    background-color:#E2E2E2;
}

.searchBar{
    margin-top: 3em;
    padding-left: 15em;
    background-color: green;
    height: 250px;
    max-width:none;
}



.navbar{
    margin-top: 1em;
    background-color:#D0D1D0;
    border: 1px solid #acacac;
    border-radius: 0.59em;
}

.navbar-brand{
    margin-left: 3.15em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #292b2c;
}

.navbar-items a{
    color: #292b2c;
    margin: 1.37em;
    text-decoration: none;
    text-transform: uppercase;
}